# Do not push world files to github
afterhours/
# Do not push libraries, mcpc+, mods or plugins to github
libraries/
mods/*.jar
mods/*.zip
mods/*/*.jar
mods/*/*.zip
plugins/*.jar
plugins/*.zip
mcpc-plus-*.jar
# Do not push logs to github
crash-reports/
ForgeModLoader-server-*
*.log
*.log.lck
# Do not push white-list/ops-list to github
white-list.txt
ops.txt
# Miscellaneous
client/
dynmap/
plugins/Essentials/userdata/*
plugins/Skript/backups/*
hats/
banned*.txt
test-server
mcpc.yml
spigot.yml
*.class
java.pid
screen.name
