# Configuration file

####################
# general
####################

general {
    # Set to true for verbose debug
    B:debug=false

    # Server unique ID
    S:guid=b5c3cd2a-42f8-4c68-a9c5-4c09d55a7743

    # Set to true to disable all reporting
    B:opt-out=false
}


